@media print {
    body {
        visibility: hidden;
    }

    .receipt {
        visibility: visible;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -40%);
    }
}