@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #B19777;
  ;
}

.button {
  transition: all;
  background-color: #B19777;
  color: white;
  border: 1px solid #B19777;
}

.button:hover {
  background-color: #323232;
  color: #B19777;
  border: 1px solid #B19777;
}

.modal {
  z-index: 199999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-btn{
  border-top: 1px solid #B19777;
  border-right: 1px solid #B19777;
}

.prodInCartActive{
  background-color: #323232;
}
